<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellphones & Smartphones | Shop the Newest Mobile Phones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top flex-md-row">
        <a href="#Home" class="navbar-brand text-uppercase">Glory market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
            <span class="navbar-toggler-icon"></span>
        </button>   
        <div class="collapse navbar-collapse" id="collapseMenu">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item"><a class="active nav-link" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#news">Phones & Devices</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Deals</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">Contact & Support</a></li>
              </ul>
        </div>  
    </nav>
    <div class="container-fluid"></div>
    <div class="jumbotron">
        <div class="card">
            <div class="card-header h1">
                Products
            </div>
            <div class="card-body">
                <div class="card-title h2">
                </div>
                <table class="table table-light" id="laptops" style="width:100%;">
                    <thead>
                        <tr class="list-header">
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Brand</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</body>
</html>