{% extends 'products/base.html' %}
{% load product_tags %}
{% block content %}

<h2>{{ object.name }}</h2>
<h5>Brand: {{ object.brand}}</h5>
<p>Price: {{ product.price|add_point }} VND</p>


<img src="{{ object.picture.url }}" alt="Flower avatar" width="300" height="300">
<p></p>
<p>Description: {{ product.description }}</p>

<h6>Created at: {{object.created_at}}</h6>
<h6>Last updated at: {{object.updated_at}}</h6>

<br>
<a href="{% url 'update_product' object.id %}" class="btn btn-outline-primary">&nbsp;Edit&nbsp;</a>
{% endblock %}