{% extends 'products/base.html' %}
{% load product_tags %}
{% block content %}
<div class="search-container">
    <form action="">
        <div class="s004">
            <form>
                <fieldset>
                    <div class="inner-form">
                        <div class="input-field">
                            <input style="width: 25%; display: inline-block" class="form-control" id="choices-text-preset-values" placeholder="Type to search..."
                                   type="text"/>
                            <button class="btn-search" type="button">
                                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                                    ></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </form>
</div>
<br>
<h1 class="card-title h2">
    List product
</h1>
<br>
<button class="btn btn-success" type="button"><a style="color: #DDDDDD" href="{% url 'add_product' %}">Add new</a></button>
<br>
<br>
<table class="table table-light" id="laptops" style="width:100%;">
    <thead>
    <tr class="list-header">
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    {% if forloop.counter0 == 0 %}
    <tr style="background-color: #A3D2E4">
        {% elif forloop.counter0 == 1 %}
    <tr style="background-color:antiquewhite;">
        {% else %}
    <tr style="background-color:lightgreen;">
        {% endif %}
        {% show_item product %}

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}